<%- include("header") -%>

        <div class="main-body">
            <div class="body-content">
                <h1 class="">Basic Banking System</h1>
                <a href="/mycustomers"><button class="btn btns btn-primary btn-lg">My Customers</button></a>
                <a href="/transfermoney"><button class="btn btns btn-primary btn-lg">Transfer Money</button></a>
            </div>
        </div>

<%- include("footer") -%>
